<div>
	<div class = "jumbotron">
		New Message
	</div>
	<div>
		<%= form_for(@conversation) do |f| %>
		<%= f.label "Send to" %>
		<br>
		<%= f.text_field :receiver%>
		<br>
		<%= f.label "Message" %>
		<br>
		<%= text_area_tag :newmessage %>
		<br>
		<%= f.submit %>
		<% end %>
	</div>
</div>