
<%= div_for(post) do %>
	<%= link_to post do %>
	<div style = "box-shadow:5px 5px 5px 5px black;background-color:white;width:300px;overflow:hidden;display:inline-block;margin:8px;float:left;height:46rem">
		<div style = "font-size:1.3rem">
			Posted <%= time_ago_in_words(post.created_at)%> ago by <%= post.user.name %>
		</div>
		<div style = "">
			<% post.pictures.limit(1).each do |pic| %>
				<%= image_tag(pic.image.url(:medium)) %>
			<% end %>
		</div>
		<div style = "background-color:#1abc9c">
			<div style = "font-size:1rem;text-align:center">
				<% case post.condition %>
				<% when 1 %>
					<p style = "color:white">New</p>
				<% when 2 %>
					<p style = "color:white">Excellent</p>
				<% when 3 %>
					<p style = "color:white">Great</p>
				<% when 4 %>
					<p style = "color:white">Acceptable</p>
				<% when 5 %>
					<p style = "color:white">Bad</p>
				<% else %>
					<p>Unknown</p>
				<% end %> 
			</div>
			<div style ="text-align:center;color:black;">
				<%= post.title %>
			</div>
			<div style ="text-align:left;font-size:1.5rem;color:black;">
				<%= post.description %>
			</div>
			<div style ="text-align:center;color:red">
				$<%= number_with_precision(post.price, precision: 2) %>
			</div>

		</div>
	</div>
	<% end %>
<% end %>
