<h1 style = "text-align:center;color:white">Post</h1>
<div style = "text-align:center;">
	<div style = "text-align:left;width:80%;display:inline-block;padding:10px;background-color:white" >
		<div style = "text-align:center;font-size:4rem"><%= @post.title %> -
			<span style ="color:#1abc9c;">$<%= number_with_precision(@post.price, precision: 2)%></span></div>
		<div style = "text-align:center">At <%= @post.school.capitalize %>, <%= @post.state.upcase %> </div>
		<div style = "font-size:1rem;text-align:center">
			<% case @post.condition %>
			<% when "new" %>
				<p style = "color:black">New Condition</p>
			<% when "excellent" %>
				<p style = "color:black">Excellent Condition</p>
			<% when "great" %>
				<p style = "color:black">Great Condition</p>
			<% when "acceptable" %>
				<p style = "color:black">Acceptable Condition</p>
			<% when "bad" %>
				<p style = "color:black">Bad Condition</p>
			<% else %>
				<p>Condition Unknown</p>
			<% end %> 
		</div>
		<div class = "jumbotron" style = "padding:1rem" >
			<%= @post.description %>
		</div>
		<% @post.pictures.each do |pic| %>
			<%= image_tag pic.image.url(:thumb) %>
		<% end %>
		<div style = "text-align:center">
			<% if @post.user == current_user %>
				<%= link_to "delete", @post, method: :delete , data: { confirm: "Are you sure?" }, class: 'btn btn-danger' %>
				<%= link_to "Edit", edit_post_path(@post), class: "btn btn-default" %>
			<% end %>
			<%= link_to "Back", root_path, class: "btn btn-default" %>
		</div>
	</div>
</div>